# RewriteEngine On
# #exclui o acesso direto ao arquivo
# RewriteCond %{REQUEST_FILENAME} !-f
# #exclui o acesso direto ao diretorio
# RewriteCond %{REQUEST_FILENAME} !-d
#                     #pasta inicial do projeto    
# RewriteRule ^(.*)$ /www.kaiocampos.com.br/public/index.php?url=$1 [QSA,L]


RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]